<!DOCTYPE html>
<html>
<head>
	<title>Deleted Records</title>
</head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="bootstrap-confirm-delete.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
<body>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<body>

  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{{ path('homepage')}}">Debit</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('money_credit')}}">Credit</a>
  </li>
</ul>
<br/>
<br/>
<br/>
<br/>
<br>
<div class="container">
<table class = "table table-bordered">
  <h1>Deleted Transactions</h1>
  <tr>
    <th>Balance Money</th>
    <th>Withdrawn</th>
    <th>Description</th>
    <th>Balance Left</th>
    <th>Date</th>
    <th colspan="2">Action</th>
  </tr>
{% for getTotalExpenseTable in getTotalExpenseTable %}
  <tr>
    <td>{{ getTotalExpenseTable.oldBalance }}</td>
    <td>{{ getTotalExpenseTable.expenseValue }}</td>
    <td>{{ getTotalExpenseTable.myDiscription }}</td>
    <td>{{ getTotalExpenseTable.newBalance}}</td>
    <td>{{ getTotalExpenseTable.dateManipulation|date('Y-m-d') }}</td>
    <td><a class="btn btn-danger confirmDelete" value="{{ getTotalExpenseTable.id }}" href="#">Delete Permanently</a></td>
    <td><a class="btn btn-info confirmRestore" value="{{ getTotalExpenseTable.id }}" href="#">Restore Record</a></td>
  </tr>
{% endfor %}
</table>
</div>
<br/>
</body>
</html>

<script type="text/javascript">
        $(".confirmDelete").on("click", function(){
        var idToDelete = ($(this).attr('value'));
        $.confirm({
            title: 'Warning!',
            content: 'Are You Sure You Want To Delete This Permanently?',
            buttons: {
                confirm: function () {
                   var path = "{{ path('records_deleted_permanently',{'id': 'myIdToDelete'})}}";
                   path = path.replace("myIdToDelete", idToDelete);

                   window.location.href=path;
                },
                cancel: function () {
                  
                }
            }
        });
        });
    </script>

    <script type="text/javascript">
        $(".confirmRestore").on("click", function(){
        var idToDelete = ($(this).attr('value'));
        $.confirm({
            title: 'Warning!',
            content: 'Are You Sure You Want To Restore This Record?',
            buttons: {
                confirm: function () {
                   var path = "{{ path('restore_deleted_record',{'id': 'myIdToDelete'})}}";
                   path = path.replace("myIdToDelete", idToDelete);
                   window.location.href=path;
                },
                cancel: function () {
                  
                }
            }
        });
        });
    </script>