<!DOCTYPE html>
<html>
<head>
	<title>Credit Money</title>
</head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<body>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<body>

  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{{ path('homepage')}}">Debit</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{{ path('money_credit')}}">Credit</a>
  </li>
</ul>
<br/>
<br/>
<center><h1>Total Money Remaining {{ getDiff }}</h1></center>
<br/>
<br/>
<div class="form-control">
  <div class="container">
    <h1>Credit</h1>
{{ form_start(getExpenseInput) }}
Description: {{ form_widget(getExpenseInput.myDiscription,{attr:{'class':'form-control'}}) }}
Amount:{{ form_widget(getExpenseInput.expenseValue,{attr:{'class':'form-control','min':'1','max':'mimunVal'|replace({'mimunVal':getDiff})}}) }}
<br/>
<input class="btn btn-danger" type="submit" name="submit" id="getOldNewAmount" >
{{ form_end(getExpenseInput) }}
<br/>

  </div>
</div>
<br>
<div class="container">
<table class = "table table-bordered">
  <h1>Todays Transaction</h1>
  <tr>
    <th>Balance Money</th>
    <th>Withdrawn</th>
    <th>Description</th>
    <th>Balance Left</th>
    <th>Date</th>
  </tr>
{% for getTotalExpenseTable in getTotalExpenseTable if getTotalExpenseTable.dateManipulation|date('Y-m-d') == mydatenow|date('Y-m-d') %}
  <tr>
    <td>{{ getTotalExpenseTable.oldBalance }}</td>
    <td>{{ getTotalExpenseTable.expenseValue }}</td>
    <td>{{ getTotalExpenseTable.myDiscription }}</td>
    <td>{{ getTotalExpenseTable.newBalance}}</td>
    <td>{{ getTotalExpenseTable.dateManipulation|date('Y-m-d') }}</td>
  </tr>
{% endfor %}
</table>
<h2>Total Credited Money For Today = {{ getTotalExpenseToday }}</h2>
</div>
<br/>
<div class="container">
<a class="btn btn-info" href="{{ path('view_all_credit_transaction',{'fromDate':mydatenow|date('1800-01-01'),'toDate':mydatenow|date('Y-m-d')})}}">View All Credit Transaction</a>
</div>


</body>
</html>